
    .Red {
        color: red;
    }
    body{
         background-color: antiquewhite;
      }
    .b {
    background-color: #333;
    border: 1px;;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration:solid;
    display: inline-block;
    font-size: 10px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 4px;
  }
.Lform
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.txt
{
  border-style: double;
}